.progress
  background-color: white
  .bar
    -webkit-transition: 0.1s
    -moz-transition: 0.1s
    -ms-transition: 0.1s
    -o-transition: 0.1s
    transition: 0.1s

h1
  font-size: 100px
  line-height: 150px

input.ng-invalid
  background-color: pink
